{% extends ':Form:semantic-ui-form-theme.html.twig' %}

{% block form_label -%}
    <label>
        <i class="blue music icon"></i>
        {{ label }}
    </label>
{%- endblock form_label %}

{% block text_widget %}
    <div class="field">
        <div class="ui search">
            <div class="ui icon input">
                {{ form_widget(form)}}
                <i class="blue search icon"></i>
            </div>
        </div>
    </div>
{% endblock %}
