{% extends "@FOSUser/layout.html.twig" %}

{% block content %}
    <div class="ui message">
        <h1>Accès refusé</h1>
        <p>L'application n'est accessible qu'aux utilisateurs authorisés. Demandez à votre contact d'activer votre compte.</p>
    </div>
{% endblock %}
