{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form ':Form:semantic-ui-form-theme.html.twig' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.quality) }}
    {{ form_rest(form) }}
    <div class="ui fluid large buttons">
        <a href="{{ path('fos_user_profile_show') }}" class="ui button">
            <i class="chevron left icon"></i>
        </a>
        <input class="ui blue submit button" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
