{% import '@App/Macro/labels.html.twig' as labels %}
<table class="ui celled table">
    <tbody>
        <tr>
            <td>{{ 'user.field.username'|trans }}</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>{{ 'user.field.email'|trans }}</td>
            <td>
                <a href="mailto:{{ user.email }}">
                    {{ user.email }}
                </a>
            </td>
        </tr>
        <tr>
            <td>{{ 'user.field.quality'|trans }}</td>
            <td>
                {{ user.qualityTransKey|trans }}
            </td>
        </tr>
        <tr>
            <td>{{ 'user.field.zip_tracks'|trans }}</td>
            <td>
                {{ labels.yesNo(user.zipTracks) }}
            </td>
        </tr>
        <tr>
            <td>{{ 'user.field.zip_add_cover'|trans }}</td>
            <td>
                {{ labels.yesNo(user.zipAddCover) }}
            </td>
        </tr>
    </tbody>
</table>
<div class="ui buttons">
    <a href="{{ path('homepage') }}" class="ui button">
        <i class="home icon"></i>
    </a>
    <a href="{{ path('fos_user_profile_edit') }}" class="ui blue button">
        {{ 'profile.edit'|trans }}
    </a>
    <a href="{{ path('fos_user_change_password') }}" class="ui teal button">
        {{ 'profile.change_password'|trans }}
    </a>
</div>

