<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="turbolinks-cache-control" content="no-cache">
        <title>{% block title %}Webchzer{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/semantic.min.css') }}">
            <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

            <link rel="stylesheet" type="text/css" href="{{ asset('css/layout.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script src="//cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.3/turbolinks.js"></script>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/semantic.min.js') }}"></script>

        <script src="{{ asset('js/require-confirmation.js') }}" defer></script>
        <script src="{{ asset('js/form-collection.js') }}" defer></script>
        <script src="{{ asset('js/amplitude.min.js') }}" defer></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" defer></script>
    </head>
    <body {{ noTurbolinks is defined and noTurbolinks ? 'data-turbolinks="false"':''}}>
        {% block body %}{% endblock %}

        {% include '@App/Modal/_confirmation.html.twig' %}

        {% block javascripts %}
            <script>
                document.addEventListener("turbolinks:load", function() {
                    // Semantic modules
                    $('.dropdown').dropdown();

                    $('[data-requires-confirmation]').requireConfirmation();
                    $('[data-form-type="collection"]').CollectionForm();

                    // Toastr
                    toastr.options = {
                        "progressBar": true
                    };
                    {% for type, messages in app.session.flashbag.all %}
                        {% for message in messages %}
                            toastr.{{ type }}('{{ message }}');
                        {% endfor %}
                    {% endfor %}
                })
            </script>
        {% endblock %}
    </body>
</html>
