{% extends "@FOSUser/layout.html.twig" %}

{% block content %}
    <div class="ui message">
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock %}
