{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form ':Form:semantic-ui-form-theme.html.twig' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'ui large form fos_user_registration_register', 'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <div>
        <div class="ui fluid large buttons">
            <a href="{{ path('fos_user_security_login') }}" class="ui button">
                <i class="chevron left icon"></i>
            </a>
            <input class="ui blue submit button" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    </div>
{{ form_end(form) }}
