{% extends "@FOSUser/layout.html.twig" %}

{% block content %}
    <div class="ui message">
        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    </div>
{% endblock %}
