{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form ':Form:semantic-ui-form-theme.html.twig' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="ui fluid large buttons">
        <a href="{{ path('fos_user_profile_show') }}" class="ui button">
            <i class="chevron left icon"></i>
        </a>
        <input class="ui blue submit button" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
