{% extends "@App/Admin/layout.html.twig" %}

{% block title %}
    {{ parent() }}
    - Dashboard
{% endblock %}

{% block content %}
    <div class="ui four huge statistics">
        <div class="red statistic">
            <div class="value">
                {{ usersCount }}
            </div>
            <div class="label">
                <a href="{{ path('admin_user_index') }}">
                    Users
                </a>
            </div>
        </div>
    </div>
    <a href="{{ path('homepage') }}">
        <i class="left arrow icon"></i>
        Back to app
    </a>
{% endblock %}
