{% extends "::base.html.twig" %}

{% set noTurbolinks = true %}

{% block title %}
    {{ parent() }}
    - Admin
{% endblock %}

{% block body %}
    <div class="ui container">
        <h1>
            <a href="{{ path('admin_index') }}">
                <i class="home icon"></i>
            </a>
            Admin Panel
        </h1>
        {% block content %}{% endblock %}
    </div>
{% endblock %}
