{% macro userItem() %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_index') }}" target="_blank" class="item" data-turbolinks="false">
                <i class="shield icon"></i>
            </a>
        {% endif %}
        <a href="https://gitlab.com/STEINGuillaume/webchzer/issues" target="_blank" class="item" data-turbolinks="false">
            <i class="bug icon"></i>
        </a>
        <div class="ui dropdown item">
            <i class="user icon"></i>
            <div class="menu">
                <a href="{{ path('fos_user_profile_show') }}" target="_blank" class="item" data-turbolinks="false">
                    {{ 'my-profile'|trans }}
                </a>
                <a href="{{ path('fos_user_security_logout') }}" class="item" data-turbolinks="false">
                    {{ 'logout'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
{% endmacro %}
