{% macro secondsToStrMinutes(sec) -%}
    {{'%02d'|format((sec/60)|round(0, 'floor')) }}:
    {{- '%02d'|format((sec%60)|round(0, 'floor')) }}
{%- endmacro %}

{% macro secondsToStrHours(sec) -%}
    {{ '%02d'|format((sec/3600)|round(0, 'floor')) }}:
    {{- '%02d'|format(((sec%3600)/60)|round(0, 'floor')) }}:
    {{- '%02d'|format((sec%60)|round(0, 'floor')) }}
{%- endmacro %}
