{% extends "@App/Deezer/layout.html.twig" %}
{% import _self as self %}
{% trans_default_domain 'deezer' %}

{% block title %}
    {{ parent() }}
    - {{ 'album'|trans }} {{ album.title }}
{% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <a href="{{ path('app_deezer_artist', {'id': album.artist.id}) }}" class="section">{{ album.artist.name|truncate(30) }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ album.title|truncate(30) }}</div>
    </div>
{% endblock %}

{% block content %}
    <div class="ui doubling stackable grid container">
        <div class="four wide column">
            {{ self.albumInfos(album) }}
        </div>
        <div class="twelve wide column">
            {{ self.albumTracks(album) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#album_cover').dimmer({
            on: 'hover'
        });
    </script>
{% endblock %}

{% macro albumInfos(album) %}
    {% import '@App/Macro/time.html.twig' as time %}
    <div id="album_cover" class="ui fluid rounded image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <a href="{{ path('downloadAlbum', {'id': album.id}) }}" data-turbolinks="false" style="color: #FFF;">
                        <i class="huge download icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <img src="{{ album.cover_big ?: asset('img/empty-cover.png') }}" alt="{{ album.title }} {{ 'cover'|trans }}">
    </div>
    <h1 class="ui header">
        {{ album.title }}
    </h1>
    <p>
        {{ 'by'|trans }}
        <a href="{{ path('app_deezer_artist', {'id': album.artist.id}) }}">
            {{ album.artist.name }}
        </a>
    </p>
    <p>
        {{ album.release_date|date('Y') }} •
        {{ album.nb_tracks }} {{ 'tracks_n'|transchoice(album.nb_tracks) }} •
        {{ time.secondsToStrHours(album.duration) }}
    </p>
{% endmacro %}

{% macro albumTracks(album) %}
    {% import '@App/Macro/time.html.twig' as time %}
    {% import "@App/Deezer/layout.html.twig" as base %}

    {{ base.player(album.tracks.data) }}

    <table class="ui very compact table">
        <thead>
            <tr>
                <th colspan="2">{{ 'title'|trans }}</th>
                <th>{{ 'duration'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for track in album.tracks.data %}
            <tr>
                <td class="collapsing">
                    {% if track.readable %}
                        {{ base.playButton(loop.index0) }}
                        <a href="{{ path('downloadTrack', {id: track.id}) }}" data-turbolinks="false">
                            <i class="download icon"></i>
                        </a>
                    {% else %}
                        <span data-tooltip="{{ 'track-disabled'|trans }}" data-position="right center" data-inverted="">
                            <i class="warning sign icon disabled"></i>
                        </span>
                    {% endif %}
                </td>
                <td {{ (not track.readable)?'class="disabled"' }}>
                    {{ track.title }}
                </td>
                <td {{ (not track.readable)?'class="disabled"' }}>
                    {{ time.secondsToStrMinutes(track.duration) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
