{% extends "@App/Deezer/layout.html.twig" %}
{% import _self as self %}
{% trans_default_domain 'deezer' %}

{% block title %}
    {{ parent() }}
    - {{ 'artist'|trans }} {{ artist.name }}
{% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <div class="active section">{{ artist.name|truncate(50) }}</div>
    </div>
{% endblock %}

{% block content %}
    <div class="ui doubling stackable grid container">
        <div class="four wide column">
            {{ self.artistInfos(artist) }}
            {{ self.related(artist) }}
        </div>
        <div class="twelve wide column">
            {{ self.topTracks(artist) }}
            {{ self.albums(artist) }}
        </div>
    </div>
{% endblock %}

{% macro artistInfos(artist) %}
    {% import _self as self %}
    <img
        class="ui fluid rounded image"
        src="{{ artist.picture_big ?: asset('img/empty-cover.png') }}"
        alt="{{ artist.name }} {{ 'picture'|trans }}">
    <h1 class="ui header">{{ artist.name }}</h1>
    <p>
        {{ artist.nb_album }}  {{ 'albums_n'|transchoice(artist.nb_album) }} •
        {{ artist.nb_fan|number_format(0,',',' ') }}  {{ 'fans_n'|transchoice(artist.nb_fan) }}
    </p>
    <p>
        {{ self.googleLink(artist.name) }}
        {{ self.wikipediaLink(artist.name) }}
    </p>
{% endmacro %}

{% macro related(artist) %}
    <h3 class="ui header">{{ 'related-artists'|trans }}</h3>
    <div class="ui items">
        {% for relatedArtist in artist.__get('related') %}
            <div class="item">
                <a class="ui mini image">
                    <img src="{{ relatedArtist.picture_small }}">
                </a>
                <div class="content">
                    <a href="{{ path('app_deezer_artist', {'id': relatedArtist.id }) }}">
                        {{ relatedArtist.name }}
                    </a>
                    <p>
                        {{ relatedArtist.nb_album }} {{ 'albums_n'|transchoice(relatedArtist.nb_album) }} •
                        {{ relatedArtist.nb_fan|number_format(0,',',' ') }} {{ 'fans_n'|transchoice(relatedArtist.nb_fan) }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro topTracks(artist) %}
    {% import '@App/Macro/time.html.twig' as time %}
    {% import "@App/Deezer/layout.html.twig" as base %}

    <h2 class="ui header">
        {{ 'top-tracks'|trans }}
    </h2>

    {{ base.player(artist.top) }}

    <table class="ui very compact table">
        <thead>
            <tr>
                <th colspan="2">{{ 'title'|trans }}</th>
                <th>{{ 'duration'|trans }}</th>
                <th>{{ 'album'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for track in artist.top %}
            <tr>
                <td class="collapsing">
                    {{ base.playButton(loop.index0) }}
                    <a href="{{ path('downloadTrack', {id: track.id}) }}" data-turbolinks="false">
                        <i class="download icon"></i>
                    </a>
                </td>

                <td>
                    {{ track.title }}
                </td>

                <td>
                    {{ time.secondsToStrMinutes(track.duration) }}
                </td>

                <td>
                    <a href="{{ path('downloadAlbum', {id: track.album.id}) }}" data-turbolinks="false">
                        <i class="download icon"></i>
                    </a>
                    <a href="{{ path('app_deezer_album', {'id': track.album.id}) }}">
                        {{ track.album.title }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro albums(artist) %}
    <div class="ui four cards">
        {% for album in artist.__get('albums') %}
            <div class="ui card">
                <a class="image" href="{{ path('app_deezer_album', {'id': album.id}) }}">
                    <img src="{{ album.cover_medium ?: asset('img/empty-cover.png') }}">
                </a>
                <div class="content">
                    <a href="{{ path('app_deezer_album', {'id': album.id}) }}" class="header">{{ album.title }}</a>
                    <div class="meta">
                        {{ album.release_date|date('Y') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro googleLink(artist) %}
    <a href="https://www.google.com/search?q={{ artist|replace({' ': '+'}) }}" target="_blank">
        <i class="google icon"></i>
    </a>
{% endmacro %}

{% macro wikipediaLink(artist) %}
    <a href="https://wikipedia.org/wiki/{{ artist|replace({' ': '_'}) }}" target="_blank">
        <i class="wikipedia icon"></i>
    </a>
{% endmacro %}
