{% extends "::base.html.twig" %}
{% import "@App/Macro/menu-item.html.twig" as menuItem %}

{% block body %}
    <div class="ui container">
        <div class="ui secondary menu">
            <div class="menu">
                <div class="ui item">
                    <a><i id="toggleSearch" class="search large icon" data-turbolinks-permanent></i></a>
                </div>
                <div class="item" id="searchForm" data-turbolinks-permanent style="display: none; padding: 0">
                    <form name="form" class="ui mini form">
                        <div class="field">
                            <input type="text" id="form_search" name="form[search]" style="width: 150px"/>
                        </div>
                    </form>
                </div>
                <div class="item" style="height: 55px;">
                    {% block breadcrumb %}{% endblock %}
                </div>
            </div>
            <div class="right menu">
                <div class="item" id="player-info" data-turbolinks-permanent>
                    <p style="text-align: right; font-size: .64285714rem;">
                        <span amplitude-song-info="name" amplitude-main-song-info="true" class="title"></span><br>
                        <a class="artist-link">
                            <span amplitude-song-info="artist" amplitude-main-song-info="true" class="artist"></span>
                        </a><br>
                        <a class="album-link">
                            <span amplitude-song-info="album" amplitude-main-song-info="true" class="album"></span>
                        </a>
                    </p>
                </div>
                <a class="item album-link" id="player-cover" data-turbolinks-permanent style="padding: 0">
                    <img class="playback_thumb" amplitude-song-info="cover_art_url" amplitude-main-song-info="true" style="border-radius: 0.3125em;"/>
                </a>
                <div class="item" id="player" data-turbolinks-permanent style="display: none; padding-right: 0">
                    <span class="amplitude-prev" id="previous">
                        <i class="btn-prev backward icon"></i>
                    </span>
                    <span class="amplitude-play-pause" amplitude-main-play-pause="true" id="play-pause">
                        <div class="btn-switch">
                            <i class="btn-play blue play icon"></i>
                            <i class="btn-pause blue pause icon"></i>
                        </div>
                    </span>
                    <span class="amplitude-next" id="next">
                        <i class="btn-next forward icon"></i>
                    </span>
                </div>
                <div class="ui right top pointing item dropdown" id="player-volume" data-turbolinks-permanent style="display: none; padding: 0 3px 0 0; margin-right: 15px;">
                    <i class="volume up icon"></i>
                    <div class="menu">
                        <div class="item">
                            <div class="ui slider range" style="width: 120px;">
                                <input type="range" class="amplitude-volume-slider"/>
                            </div>
                        </div>
                    </div>
                </div>
                {{ menuItem.userItem() }}
            </div>
        </div>
        <div class="ui grid playback_timeline" id="player-seek" data-turbolinks-permanent style="display: none;">
            <div class="two wide right aligned column">
                <div class="playback_timeline_start-time">
                    <span class="amplitude-current-time" amplitude-main-current-time="true"></span>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui slider range playback_timeline_slider">
                    <input type="range" class="amplitude-song-slider" amplitude-main-song-slider="true"/>
                </div>
            </div>
            <div class="two wide column">
                <div class="playback_timeline_end-time text right">
                    <span class="amplitude-duration-time" amplitude-main-duration-time="true"></span>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% macro player(tracks) %}
    <script type="text/javascript">

        var songs = [
        {% for track in tracks %}
            {
                "url": "{{ path('streamTrack', {id: track.id}) }}",
                "name": "{{ track.title|truncate(50)|escape('js') }}",
                "artist": "{{ track.artist.name|truncate(50)|escape('js') }}",
                "album": "{{ track.album.title|truncate(50)|escape('js') }}",
                "cover_art_url": "{{ track.album.cover|escape('js') }}",
                "album_url": "{{ path('app_deezer_album', {id: track.album.id}) }}",
                "artist_url": "{{ path('app_deezer_artist', {id: track.artist.id}) }}"
            },
        {% endfor %}
        ];

        document.addEventListener("turbolinks:load", function() {
            function initPlayer() {
                Amplitude.init({
                    "start_song": "",
                    "songs" : songs,
                    "callbacks": {
                        'before_play': function() {
                            $('#player-seek').show();
                            $('#player').show();
                            $('#player-volume').show();
                        },
                        'after_play': function() {
                            $('.album-link').attr('href', Amplitude.getActiveSongMetadata().album_url);
                            $('.artist-link').attr('href', Amplitude.getActiveSongMetadata().artist_url);
                        }
                    },
                    "bindings": {
                        37: 'prev',
                        39: 'next',
                        32: 'play_pause'
                    },
                    "volume": 100
                });
                window.playerInited = true;
                window.reinitOnPlay = false;
            }

            $(".amplitude-play-pause").click(function(e) {
                if (!window.reinitOnPlay || $(this).hasClass('amplitude-playing'))
                    return;

                Amplitude.pause();

                initPlayer();
                e.preventDefault();

                // redispatch the same event now that amplitude has set the proper
                // event listener to start playback
                e.target.dispatchEvent(new Event(e.type, {bubbles: true}));
            });

            if (!window.playerInited) {
                initPlayer();
            } else {
                window.reinitOnPlay = true;
            }

            if(!window.searchBar) {
                var searchForm = $('#searchForm');
                var searchFormInput = searchForm.find('input');
                searchForm.submit(function(event ) {
                    $.ajax({
                        url: '{{ path('app_deezer_searchform') }}',
                        method: 'POST',
                        data: $(this).find('form').serialize()
                    }).done(function(result) {
                        if(result !== 'false') {
                            searchForm.animate({width:'hide'});
                            searchFormInput.val('');
                            $(this).find('.field').removeClass('error');
                            Turbolinks.visit(result);
                        } else {
                            searchForm.find('.field').addClass('error');
                        }
                    });
                    event.preventDefault();
                });
                searchForm.find('.field').keyup(function () {
                    $(this).removeClass('error');
                });

                $('#toggleSearch').click(function() {
                    var focus = searchForm.css('display') === 'none';
                    searchForm.animate({width:'toggle'},{
                        done: function() {
                            if(focus) searchFormInput.focus();
                        }
                    });
                });
                window.searchBar = true;
            }
        });
    </script>
{% endmacro %}

{% macro playButton(index) %}
    <a class="button amplitude-play-pause amplitude-paused" amplitude-song-index="{{ index }}">
        <i class="play link icon"></i>
        <i class="pause link icon"></i>
    </a>
{% endmacro %}
