{% extends "@App/Deezer/layout.html.twig" %}
{% import _self as self %}
{% trans_default_domain 'deezer' %}

{% block title %}
    {{ parent() }}
    - {{ 'results-for'|trans }} {{ searchText|capitalize }}
{% endblock %}

{% block breadcrumb %}
    <div class="ui breadcrumb">
        <div class="active section">{{ searchText|truncate(50) }}</div>
    </div>
{% endblock %}

{% block content %}
    {{ self.resulstsTable(results) }}
    {{ self.pagination(searchText, page) }}
{% endblock %}

{% macro resulstsTable(results) %}
    {% import '@App/Macro/time.html.twig' as time %}
    {% import "@App/Deezer/layout.html.twig" as base %}

    {{ base.player(results) }}

    <table class="ui very compact table">
        <thead>
            <tr>
                <th colspan="2">{{ 'title'|trans }}</th>
                <th>{{ 'duration'|trans }}</th>
                <th>{{ 'artist'|trans }}</th>
                <th>{{ 'album' |trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for track in results %}
                <tr>
                    <td class="collapsing">
                        {{ base.playButton(loop.index0) }}
                        <a href="{{ path('downloadTrack', {id: track.id}) }}" data-turbolinks="false">
                            <i class="download icon"></i>
                        </a>
                    </td>

                    <td>
                        {{ track.title }}
                    </td>

                    <td>
                        {{ time.secondsToStrMinutes(track.duration) }}
                    </td>

                    <td>
                        <a href="{{ path('app_deezer_artist', {'id': track.artist.id}) }}">
                            {{ track.artist.name }}
                        </a>
                    </td>

                    <td>
                        <a href="{{ path('downloadAlbum', {id: track.album.id}) }}" data-turbolinks="false">
                            <i class="download icon"></i>
                        </a>
                        <a href="{{ path('app_deezer_album', {'id': track.album.id}) }}">
                            {{ track.album.title }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro pagination(searchText, page) %}
    <div class="ui mini blue inverted pagination menu right floated">
        {% if page > 1 %}
            {% if page > 2 %}
                <a class="item" href="{{ path('app_deezer_search', {'searchText': searchText}) }}">
                    <i class="angle double left icon"></i>
                </a>
            {% endif %}
            <a class="item" href="{{ path('app_deezer_search', {'searchText': searchText, 'page': page - 1}) }}">
                <i class="angle left icon"></i>
            </a>
            <a class="item active disabled">
                {{ page }}
            </a>
        {% endif %}
        <a class="item" href="{{ path('app_deezer_search', {'searchText': searchText, 'page': page + 1}) }}">
            <i class="angle right icon"></i>
        </a>
    </div>
{% endmacro %}
