.amplitude-playing .play.icon {
    display: none;
}
.amplitude-paused .pause.icon {
    display: none;
}

.playback_timeline {
    color: #252120;
}
.playback_timeline_start-time, .playback_timeline_end-time {
    font-size: 14px;
    opacity: 0.4;
    display: inline-block;
    vertical-align: middle;
}
.playback_timeline_slider {
    height: 24.67px;
    position: relative;
    cursor: pointer;
    width: 100%;
    padding-top: 3px;
    opacity: 1;
    display: inline-block;
    vertical-align: middle;
}
.playback_timeline_slider .slider_base {
    width: 100%;
    height: 2px;
    background-color: rgba(37, 33, 32, 0.12);
    border-radius: 2px;
    position: absolute;
    top: 12px;
}
.playback_timeline_slider .slider_progress {
    transform: matrix(0.15812, 0, 0, 1, 0, 0);
    transform-origin: 0 0;
    width: 100%;
    height: 2px;
    background-color: rgba(37, 33, 32, 0.5);
    border-radius: 2px;
    position: absolute;
    top: 12px;
}
.playback_timeline_slider .slider_handle {
    transform: matrix(1, 0, 0, 1, 37, 0);
    width: 12px;
    height: 12px;
    background-color: #252120;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: -6px;
}
.ui.slider.range input[type="range"] {
    -webkit-appearance: none;
    border-width: 1px 2px;
    border-style: solid;
    border-radius: 50rem;
    border-color: rgba(0, 0, 0, 0.1);
    padding: 3px 5px;
    width: 100%;
}
.ui.slider.range input[type="range"]::-moz-range-track {
    background: none;
    border: none;
}
.ui.slider.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #4183c4;
    border-radius: 50%;
    height: 0.7em;
    width: 0.7em;
}
.ui.slider.range input[type="range"]::-moz-range-thumb {
    background: #4183c4;
    border-color: #4183c4;
    border-radius: 50%;
    height: 0.7em;
    width: 0.7em;
}
.ui.slider.range input[type="range"]:focus {
    outline: none;
}
