{% extends '@FOSUser/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Login
{% endblock %}


{% block content %}
    <h2 class="ui blue image header">
        <img src="{{ asset('favicon.png') }}" class="image">
        <div class="content">
            Log-in to your account
        </div>
    </h2>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    <div class="ui message">
        <a href="{{ path('fos_user_registration_register') }}">
            {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
        </a>
    </div>
{% endblock %}
