{% trans_default_domain 'FOSUserBundle' %}

<form class="ui large form {{ error ? 'error' : '' }}" action="{{ path("fos_user_security_check") }}" method="post" novalidate>
    {% if error %}
        <div class="ui error message">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="ui stacked segment">
        <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input
                        id="username"
                        name="_username"
                        placeholder="{{ 'security.login.username'|trans }}"
                        value="{{ last_username }}"
                        required="required">
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input
                        type="password"
                        id="password"
                        name="_password"
                        required="required"
                        placeholder="{{ 'security.login.password'|trans }}">
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="true">
                <label>{{ 'security.login.remember_me'|trans }}</label>
            </div>
        </div>
        <input
                class="ui fluid large blue submit button"
                type="submit"
                id="_submit"
                name="_submit"
                value="{{ 'security.login.submit'|trans }}" />
    </div>
</form>
<a href="{{ path('fos_user_resetting_request') }}">
    {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
</a>
