{% extends 'base.html.twig' %}

{% set noTurbolinks = true %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
