{% extends "@App/Admin/layout.html.twig" %}
{% form_theme edit_form ':Form:semantic-ui-form-theme.html.twig' %}

{% block title %}
    {{ parent() }}
    - User edit
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="ui row">
            <h1>User edit</h1>
        </div>
        <div class="ui row">
            <div class="sixteen wide column">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="ui primary button" type="submit" value="Edit" />
                {{ form_end(edit_form) }}
            </div>
        </div>
        <div class="ui row">
            {{ form_start(delete_form) }}
            <div class="ui buttons">
                <a class="ui button" href="{{ path('admin_user_index') }}">
                    Back to the list
                </a>
                <button class="ui negative button" data-requires-confirmation>
                    <i class="minus icon"></i>
                    Delete
                </button>
            </div>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
