{% extends "@App/Admin/layout.html.twig" %}
{% import '@App/Macro/labels.html.twig' as labels %}

{% block title %}
    {{ parent() }}
    - Users management
{% endblock %}

{% block content %}
    <h2>Users management</h2>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'u.id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Username', 'u.usernameCanonical') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Email', 'u.emailCanonical') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Enabled', 'u.enabled') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Last Login', 'u.lastLogin') }}</th>
            <th>Roles</th>
            <th>White Listed</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>
                    <a href="{{ path('admin_user_show', { 'id': user.id }) }}">
                        {{ user.id }}
                    </a>
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ labels.status(user.enabled) }}</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('d-M-Y G:i:s') : 'Never' }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>{{ labels.yesNo(user.isWhiteListed) }}</td>
                <td>
                    <div class="ui mini buttons">
                        <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="ui button">
                            <i class="pencil icon"></i>
                            Edit
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
