{% extends "@App/Admin/layout.html.twig" %}
{% import '@App/Macro/labels.html.twig' as labels %}

{% block title %}
    {{ parent() }}
    - User view
{% endblock %}

{% block content %}
    <table class="ui celled table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <a href="mailto:{{ user.email }}">
                        {{ user.email }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Enabled</td>
                <td>{{ labels.status(user.enabled) }}</td>
            </tr>
            <tr>
                <td>Last Login</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('d-M-Y G:i:s') : 'Never' }}</td>
            </tr>
            <tr>
                <td>Roles</td>
                <td>{{ user.roles|join(', ') }}</td>
            </tr>
            <tr>
                <td>White Listed</td>
                <td>{{ labels.yesNo(user.isWhiteListed) }}</td>
            </tr>
            <tr>
                <td>Quality</td>
                <td>{{ user.qualityTransKey|trans }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
    <div class="ui buttons">
        <a class="ui button" href="{{ path('admin_user_index') }}">
            Back to the list
        </a>
        <a class="ui primary button" href="{{ path('admin_user_edit', { 'id': user.id }) }}">
            <i class="pencil icon"></i>
            Edit
        </a>
        <button class="ui negative button" data-requires-confirmation>
            <i class="minus icon"></i>
            Delete
        </button>
    </div>
    {{ form_end(delete_form) }}

{% endblock %}
