{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="ui large form fos_user_resetting_request" novalidate>
    <div class="field">
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div class="ui fluid large buttons">
        <a href="{{ path('fos_user_security_login') }}" class="ui button">
            <i class="chevron left icon"></i>
        </a>
        <input class="ui blue submit button" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
