Webchzer - New user subscribed

Dear Admin,

{{ user.username }} ({{ user.email }}) just subscribed at {{ 'now'|date('H:i:s') }} the {{ 'now'|date('j/M/Y') }}.
Please handle the event: {{ url('admin_user_edit', {'id': user.id}) }}.

Thanks.
