{% extends 'base.html.twig' %}
{% form_theme form '@App/Form/index-form-theme.html.twig' %}
{% import "@App/Macro/menu-item.html.twig" as menuItem %}

{% set noTurbolinks = true %}

{% block title %}
    {{ parent() }} - {{ 'homepage'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body > .ui.grid {
            height: 100%;
            width: 100%;
            margin: 0;
            top: 0;
            position: absolute;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ui middle aligned center aligned grid">
        <div class="sixteen wide mobile twelve wide tablet eight wide computer six wide large screen column">
            <div class="ui left aligned grid">
                <div class="column">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui secondary menu">
            <div class="right menu">
                {{ menuItem.userItem() }}
            </div>
        </div>
    </div>
{% endblock %}
